
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<!-- IOS Bug dont Use this code-->
<div class="video_intro">
    <div class="wrapper">
        <!-- begin Video Youtube
        =========================================================================== -->
        <div class="video-youtube video-youtube_overlay">
            <div id="video-youtube__content" class="video-youtube__content video-youtube__content_hide-origin-play-btn"></div>
            <button type="button" class="video-youtube__new-play-btn"></button>
        </div>
        <!-- end Video Youtube
        =========================================================================== -->
    </div>
</div>
