USE [master]
GO
/****** Object:  Database [BookStoreDB]    Script Date: 3/28/2019 7:51:44 AM ******/
CREATE DATABASE [BookStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BookStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStoreDB]
GO
USE [BookStoreDB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorID] [varchar](15) NOT NULL,
	[AuthorName] [varchar](61) NOT NULL,
	[AuthorAddress] [varchar](62) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [varchar](6) NOT NULL,
	[PublisherID] [char](4) NULL,
	[AuthorID] [varchar](15) NULL,
	[BookTitle] [varchar](80) NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[BookPrice] [money] NOT NULL,
	[BookType] [varchar](20) NOT NULL,
	[Status] [bit] NULL,
	[Url] [varchar](200) NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Total] [money] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[OrderID] [int] NOT NULL,
	[BookID] [varchar](6) NOT NULL,
	[BookPrice] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderLine] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[PublisherID] [char](4) NOT NULL,
	[PublisherName] [varchar](40) NULL,
	[PublisherAddress] [varchar](54) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/28/2019 7:51:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[DisplayName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[UserEmailAddress] [nvarchar](255) NOT NULL,
	[Role] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserResponse]    Script Date: 3/28/2019 7:51:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserResponse](
	[ResponseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Username] [nvarchar](255) NULL,
	[Title] [nvarchar](max) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Contents] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NULL,
	[Reply] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [AuthorAddress]) VALUES (N'114-23-3145', N'Gary Soto', N'327 Lakeview Drive Maplewood, NJ 07040')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [AuthorAddress]) VALUES (N'115-25-224', N'George Orwell', N'7356 W. Sulphur Springs Rd. Dedham, MA 02026')
INSERT [dbo].[Author] ([AuthorID], [AuthorName], [AuthorAddress]) VALUES (N'126-98-753', N'E. L. James', N'807 Maiden St. Lansing, MI 48910')
INSERT [dbo].[Book] ([BookID], [PublisherID], [AuthorID], [BookTitle], [Notes], [BookPrice], [BookType], [Status], [Url]) VALUES (N'AA6996', N'1600', N'133-22-1199', N'Treasure Island', N'On the ultimate treasure hunt young Jim Hawkins finds himself battling the infamous Long John Silver in this illustrated, easy-reading adaptation of the classic pirate yarn.', 3.9900, N'Action and Adventure', 0, N'https://i.imgur.com/AdvRYGa.jpg')
INSERT [dbo].[Book] ([BookID], [PublisherID], [AuthorID], [BookTitle], [Notes], [BookPrice], [BookType], [Status], [Url]) VALUES (N'DA1001', N'3373', N'114-23-3145', N'Novio Boy', N'Ninth grader Rudy has a date with eleventh grader Patricia. Now he has to come up with the money, the poise, and the conversation to carry it off. This one-act play, by turns heartwarming and heart-wrenching, follows Rudy from his desperate search for guidance through the hilarious date itself--all the way to its happy conclusion.', 6.9900, N'Drama', 1, N'https://i.imgur.com/9gQUmjs.jpg')
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [UserID], [OrderDate], [Total]) VALUES (2, 2, CAST(N'2018-05-05' AS Date), 3.0000)
SET IDENTITY_INSERT [dbo].[Order] OFF
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName], [PublisherAddress]) VALUES (N'1433', N'Chilton Books', N'9452 Shipley St. North Royalton, OH 44133')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName], [PublisherAddress]) VALUES (N'1600', N'Cassell and Company', N'187 West Woodland Avenue Canfield, OH 44406')
INSERT [dbo].[Publisher] ([PublisherID], [PublisherName], [PublisherAddress]) VALUES (N'1879', N'John Hisberg + Adred Kostophki', N'914 Brickyard St. ')
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [DisplayName], [Password], [UserEmailAddress], [Role], [isActive]) VALUES (1, N'admin', N'Admin', N'admin', N'admin@gmail.com', 2, 1)
INSERT [dbo].[User] ([UserID], [Username], [DisplayName], [Password], [UserEmailAddress], [Role], [isActive]) VALUES (2, N'user1', N'User 1', N'user1', N'user1@gmail.com', 1, 1)
INSERT [dbo].[User] ([UserID], [Username], [DisplayName], [Password], [UserEmailAddress], [Role], [isActive]) VALUES (3, N'user2', N'User 2', N'abc', N'user2@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserResponse] ON 

INSERT [dbo].[UserResponse] ([ResponseID], [UserID], [Username], [Title], [Email], [Contents], [IsActive], [Reply]) VALUES (3, NULL, N'user1', N'Login Error', N'user1@gmail.com', N'ad', 1, N'fssd')
INSERT [dbo].[UserResponse] ([ResponseID], [UserID], [Username], [Title], [Email], [Contents], [IsActive], [Reply]) VALUES (4, NULL, N'sdas', N'Login Error', N'drchltfpt@gmail.com', N'sss', 1, NULL)
INSERT [dbo].[UserResponse] ([ResponseID], [UserID], [Username], [Title], [Email], [Contents], [IsActive], [Reply]) VALUES (5, 2, N'user1', N'test', N'user1@gmail.com', N'test', 1, N'test')
SET IDENTITY_INSERT [dbo].[UserResponse] OFF
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Author] ([AuthorID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publisher] ([PublisherID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Book]
GO
ALTER TABLE [dbo].[OrderLine]  WITH CHECK ADD  CONSTRAINT [FK_OrderLine_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderLine] CHECK CONSTRAINT [FK_OrderLine_Order]
GO
ALTER TABLE [dbo].[UserResponse]  WITH CHECK ADD  CONSTRAINT [FK_UserResponse_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[UserResponse] CHECK CONSTRAINT [FK_UserResponse_User]
GO
/****** Object:  StoredProcedure [dbo].[GetBooks]    Script Date: 3/28/2019 7:51:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBooks]
@u int,
@v int
as
begin
 SELECT a.BookID ,a.PublisherID,a.AuthorID, a.BookTitle, a.Notes, a.BookPrice, a.BookType, a.[Status], a.Url FROM ( 
  SELECT *, ROW_NUMBER() OVER (ORDER BY Bookid) as row 
  FROM Book a
 ) a WHERE a.row >= @u and a.row <= @v
end
GO
/****** Object:  StoredProcedure [dbo].[GetResponses]    Script Date: 3/28/2019 7:51:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetResponses]
@u int,
@v int
as
begin
 SELECT a.ResponseID, a.UserID, a.Title, a.Email, a.Contents, a.IsActive, a.Reply FROM ( 
  SELECT *, ROW_NUMBER() OVER (ORDER BY ResponseID) as row 
  FROM [UserResponse] a
 ) a WHERE a.row >= @u and a.row <= @v
end
GO
/****** Object:  StoredProcedure [dbo].[GetUsers]    Script Date: 3/28/2019 7:51:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUsers]
@u int,
@v int
as
begin
 SELECT a.UserID, a.Username, a.DisplayName, a.[Password], a.UserEmailAddress, a.[Role], a.isActive FROM ( 
  SELECT *, ROW_NUMBER() OVER (ORDER BY UserID) as row 
  FROM [User] a
 ) a WHERE a.row >= @u and a.row <= @v
end
GO
USE [master]
GO
