@{
    ViewBag.Title = "Error";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link href="@Url.Content("~/Content/message.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="error-box">
            <div class="dot"></div>
            <div class="dot two"></div>
            <div class="face2">
                <div class="eye"></div>
                <div class="eye right"></div>
                <div class="mouth sad"></div>
            </div>
            <div class="shadow move"></div>
            <div class="message"><h1 class="alert">Error!</h1><p>Oh no, something went wrong.</div>
            <button class="button-box" onclick="location.href='@Url.Action("Index", "Home")'"><h1 class="red">Go Home</h1></button>
        </div>
    </div>
</body>
</html>
