.product {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background: #f8f8f8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}


.product .wrapper {
    width: 40em;
    margin: 4em auto;
    background: #fff;
    padding: 4em;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
}

    .product .wrapper > :first-child {
        margin-top: 0;
    }

    .product .wrapper > :last-child {
        margin-bottom: 0;
    }

    .product .desc {
        margin: 4em auto;
        font-size: 1.2em;
    }

    .product .todo {
        background: #f9f9f9;
        padding: 1em;
        border-radius: 4px;
        color: #ccc;
        font-style: italic;
        font-weight: lighter;
        font-size: .9em;
    }

        .product .todo ul {
            margin: .4em 0;
            padding: 0 1em;
        }

            .product .todo ul li {
                list-style-position: inside;
            }

.product h1 {
    margin: 0;
}

.product a {
    text-decoration: none;
    color: #2196F3;
}

.product a:hover {
    text-decoration: underline;
}

    .product .emoticon-face {
        background: #FFEB3B;
        border-radius: 100%;
        width: 1.7em;
        height: 1.7em;
        transform: rotate(90deg);
        display: inline-block;
        vertical-align: middle;
        line-heigh: 1;
        margin: -.4em .2em 0;
        text-align: center;
        border: 1px solid #FDD835;
        padding-left: .1em;
        -webkit-font-smoothing: antialiased;
    }

    .product .emoticon-face--no-rotation {
        transform: rotate(0deg);
    }

.product code {
    padding: .2em .3em;
    background: #f5f5f5;
    margin: 0 .2em;
    border-radius: 4px;
    font-size: .95em;
    font-family: 'Source Code Pro';
}

    .product .tac {
        text-align: center;
    }

    .product .wrapper {
        width: 68em;
    }

.product {
    box-sizing: border-box;
}

.product {
    color: #777;
    font-family: 'Open Sans', Arial, sans-serif;
}

    .product .product-grid {
        width: 60em;
        margin: 2rem auto;
    }

        .product .product-grid.product-grid--flexbox .product-grid__wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .product .product-grid.product-grid--flexbox .product-grid__title {
            height: auto;
        }

        .product-grid.product-grid--flexbox .product-grid__title:after {
            display: none;
        }

.product .product-grid__wrapper {
    margin-left: -1rem;
    margin-right: -1rem;
}

.product .product-grid__product-wrapper {
    padding: 1rem;
    float: left;
    width: 33.33333%;
}

.product .product-grid__product {
    padding: 1rem;
    position: relative;
    cursor: pointer;
    background: #fff;
    border-radius: 4px;
}

    .product .product-grid__product:hover {
        box-shadow: 0px 0px 0px 1px #eee;
        z-index: 50;
    }

        .product .product-grid__product:hover .product-grid__extend {
            display: block;
        }

.product .product-grid__img-wrapper {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 300px;
}

.product .product-grid__img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.product .product-grid__title {
    margin-top: .875rem;
    display: block;
    font-size: 1.125em;
    color: #222;
    height: 3em;
    overflow: hidden;
    position: relative;
}

    .product .product-grid__title:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 2.4em;
        height: 1.5em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
    }

.product .product-grid__price {
    color: #E91E63;
    font-weight: bold;
    letter-spacing: .4px;
}

.product .product-grid__extend-wrapper {
    position: relative;
}

.product .product-grid__extend {
    display: none;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    margin: .4375rem -1rem 0;
    box-shadow: 0px 0px 0px 1px #eee;
    background: #fff;
    border-radius: 0 0 4px 4px;
}

    .product .product-grid__extend:before {
        content: "";
        height: .875rem;
        width: 100%;
        position: absolute;
        top: -.4375rem;
        left: 0;
        background: #fff;
    }

.product .product-grid__description {
    font-size: .875em;
    margin-top: .4375rem;
    margin-bottom: 0;
}

.product .product-grid__btn {
    display: inline-block;
    font-size: .875em;
    color: #777;
    background: #eee;
    padding: .5em .625em;
    margin-top: .875rem;
    margin-right: .625rem;
    cursor: pointer;
    border-radius: 4px;
}

    .product .product-grid__btn i.fa {
        margin-right: .3125rem;
    }

.product .product-grid__add-to-cart {
    color: #fff;
    background: #E91E63;
}

    .product .product-grid__add-to-cart:hover {
        background: #ee4c83;
    }

.product .product-grid__view {
    color: #777;
    background: #eee;
}

    .product .product-grid__view:hover {
        background: white;
    }
